<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Welcome</span>
  <div class="spacer"></div>
</div>

<div class="big-container" role="main">
  <div class="menu">
    
    <div class="box-opener" (click)="show = !show">
      <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
      </svg>
      Add Widget
    </div>
    <div class="box" [class.opened]="show">
      <div class="widget-actions">
        <div class="card text-center" style="width: 14rem; height: 150px; cursor: pointer;" (click)="addWidget('pie-chart')">
          <img class="card-img-top small-img" src="../assets/pie-chart.png">
          <div class="card-body">
            <p class="card-text">Pie Chart Widget</p>
          </div>
        </div>
        <div class="card text-center" style="width: 14rem; height: 150px; cursor: pointer;" (click)="addWidget('bar-chart')">
          <img class="card-img-top small-img" src="../assets/bar-chart.png">
          <div class="card-body">
            <p class="card-text">Bar Chart Widget</p>
          </div>
        </div>
        <div class="card text-center" style="width: 14rem; height: 150px; cursor: pointer;" (click)="addWidget('custom-table')">
          <img class="card-img-top small-img" src="../assets/table.png">
          <div class="card-body">
            <p class="card-text">Table Widget</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="d-flex flex-row flex-wrap justify-content-center" id="content">
    </div>
  </div>
</div>
