.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.spacer {
    flex: 1;
}

.big-container {
    margin: 82px auto 32px;
    padding: 0 16px;
}

.menu {
    width: 100%;
}

.menu > button {
    margin-bottom: 5px;
}

.box {
    max-height: 0px;
    overflow-y: hidden;
    transition: ease-in-out 400ms max-height;
}

.box.opened {
    border: dashed 1px;
    max-height: 500px;
    transition: ease-in-out 600ms max-height;
}

.widget-actions {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-evenly;
}

.small-img {
    width: 100px;
    margin: 0 auto;
}

.content {
    align-items: center;
}
